.aboutMe {
    font-size: 2em;
    font-weight: bold;
    padding-top: .7em;
    color: rgb(78, 78, 78);
    text-align: center;
}

.sunImg {
    height: 40px;
  }

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
    opacity: 0;    
}

.borderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 75%;
    border: 1px solid white;
    margin-left: 13em;
    background-color: white;
    border-radius: 30px;
}

.reveal.active {
    opacity: 1;
}

.active.fadebottom {
    animation: fade-bottom 1s ease-in;
}

.img {
    max-height: 45%;
    padding-block: 1em;
}

.text {
    font-size: 1.3em;
    width: 60%;
    color: rgb(93, 91, 91);
    padding-top: 1em;
    text-align: center;
}

.arrow {
    font-size: 4em;
    transform: scale(1);
    animation: pulse 1s infinite;
    color: #e3923a;
}

.arrow:hover {
    color: #f6d6b4;
    cursor: pointer;
}

.arrowWrapper {
    text-align: center;
}

@keyframes pulse {
    0% {
        transform: scale(0.85);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.85);
    }
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

