.aboutMe {
    font-size: 2em;
    font-weight: bold;
    color: rgb(78, 78, 78);
    text-align: center;
}

.sunImg {
    height: 40px;
  }

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.borderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 70%;
    border: 1px solid white;
    background-color: white;
    border-radius: 30px;
}

.img {
    max-height: 40%;
    padding-top: 1em;
    max-width: 80%;
}

.text {
    font-size: 1.3em;
    width: 70%;
    color: rgb(93, 91, 91);
    margin-top: 1em;
    text-align: center;
    max-height:40%;
}

.arrow {
    font-size: 4em;
    transform: scale(1);
    animation: pulse 1s infinite;
    color: #e3923a;
}

.arrow:hover {
    color: #f6d6b4;
    cursor: pointer;
}

.arrowWrapper {
    text-align: center;
}

@keyframes pulse {
    0% {
        transform: scale(0.85);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.85);
    }
}

@media only screen and (max-width: 800px) {
    .text{
        width: 90%;
        font-size: 1.1em;
        padding-block: 1em;
    }
    .borderContainer{
        width: 85vw;
    }

    .aboutMe {
        padding-top: 0;
        padding-left: 1em;
    }
    .img {
        padding-block: 1em;
    }
}

@media only screen and (max-width: 986px){
    .text{
        font-size: 1.07em;
    }
}