.contact{
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    color: rgb(78, 78, 78);
    margin-bottom: 2em;
    padding-top: 3em;
}

.contactContainer {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 10em;
    font-size: 2em;
}

.icon:hover {
    color: #e3923a;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .contactContainer{
        margin-bottom: 2em;
    }
}