.title {
    font-size: 2em;
    font-weight: bolder;
    color: rgb(78, 78, 78);
    text-align: center;
    padding-top: 1em;
}

.img {
    height: 20vh
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: left;
    place-items: center;
}

.projectTitle {
    font-size: 1.4em;
    font-weight: bold;
    padding-top: 2em;
}

.buttonWrapper {
    display: flex;
    gap: 3.5em;
    padding-top: 1em;
}

.button {
    font-size: 1.2em;
    border: 1px solid transparent;
    /* color: #e3923a;
    text-decoration:underline #e3923a; */
    padding-block: .5em;
    padding-inline: .8em;
    border-radius: 20px;
}

button:hover {
    color: #e3923a;
    text-decoration: none;
}