.title {
    font-size: 2em;
    font-weight: bolder;
    color: rgb(78, 78, 78);
    text-align: center;
    padding-top: 1em;
}

.img {
    height: 30vh
}

.containerWrapper {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: left;
    gap: 10em;
}

.projectTitle {
    font-size: 1.4em;
    font-weight: bold;
    padding-top: 2em;
}

.buttonWrapper {
    display: flex;
    gap: 3.5em;
    padding-top: 1em;
}

.button {
    font-size: 1.2em;
    border: 1px solid transparent;
    padding-block: .5em;
    padding-inline: .8em;
    border-radius: 20px;
    box-shadow: 1px 1px 20px -3px #b5b6b9;
}

button:hover {
    color: #e3923a;
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    .title {
        padding-top: 0;
        margin-top:0;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3em
    }

    .img {
        height: 20vh
    }

    .techStack {
        display: none;
    }

    .projectTitle{
        padding: 0;
    }

}