@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  /* background-color: #f0efeb */
  background-image: url('../public/backgroundImg/sunflower5.jpg');
  background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #e6e7eb;
}

.arrowUp {
  position:sticky;
  font-size: 2em;
  top: 80vh;
  left: 95vw;
  z-index: 100;
}

.arrowUp:hover {
  color: #e3923a;
  cursor: pointer;
}
