@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  background-color: #f0efeb
}

.arrowUp {
  position:sticky;
  font-size: 2em;
  top: 80vh;
  left: 95vw
}

.arrowUp:hover {
  color: #e3923a;
  cursor: pointer;
}
